:root{
    --baseColor : #eeefee;
    --textColor: #232323;
    }
*{
    box-sizing: border-box;
}
  
.container{
    border: 1px solid black; 
}

body{
    font-family: DM Sans;
    color: #232323;
    background: #eeefee;
    margin: 0px;
    padding: 0px;
    height: auto;  
    position: relative;
}
span{
    font-size: 1px;
}

/* logobar */
#logobar{
    background-color: var(--baseColor);
    padding: 10px 20px;
}
 #logobar img{
    height: 1.5cm;
}

#logobar .Brand{
    font-size: 30px;
    text-decoration: none;
    color: var(--textColor);
}
/* logobar */

#Menu{
    background: var(--baseColor);
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#Menu ul{
    list-style: none;
}
#Menu ul li{
    display: inline-block;
    margin: 0 10px;
    padding: 20px 20px;
    font-weight: bold;
    font-size: 18px;
    position: relative;
    align-items: center;
}
#Menu ul li a{
    color: var(--textColor);
}
#Menu ul li a:hover{
        background-color: white; 
        border: 5px solid white; 
        text-decoration: none;                  
}
#icon  {
    font-size: 25px;
    display: flex;
    text-align: center; 
}
#icon .fa{
    display: block;
    align-items: center; 
}
#icon a{
    margin: 0px 20px;
    padding: 10px 10px;
    border:1px solid white;
    background: #fff;
    color: black;
    border-radius: 10px;
    height: 50%;
    width: 50%;
    text-decoration: none;
}


/* banner */
.banner{
    background-image: url(../image/background1.jpg);
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    color: #fff;
}
.banner span{
    font-size: 25px; 
}
.banner h2{
    font-size: 60px;
    font-weight: bold;
}
.banner p{
    font-size: 20px;
    color: #bbb;
    font-weight: 100;  
}
.banner a{
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    padding: 0px 20px;
    border: 1px solid black;
    color: var(--textColor);
}
/* image */
img{
    border-radius: 10px;
    width: 90%;
    

}



 






