:root{
    --baseColor : #eeefee;
    --textColor: #232323;
    }
*{
    box-sizing: border-box;
}
  
body{
    font-family:'DM Sans', sans-serif;
    color: #232323;
    background: #eeefee;
    position: relative;
    
}
span{
    font-size: 16px;
    color: #777777;
}
p{
    font-size: 20px;
    line-height: 2;
}


/* logobar */

#Header{
    background-color: var(--baseColor);
    margin-left: 30px; 
    padding-top: 1.6px;
    align-items: center;
    position: sticky;
   
}
#logobar{
    min-height: 70px;
    flex-shrink: 0;
    align-items: center;
    margin-right: 0;
    padding: 10px 0;
    transition: all 0.3s;
    word-break: break-word;
    z-index: 1;
}
 #logobar img{
    height: 1.5cm;
}
#logobar a{
    margin-right: 10px;
}

#logobar .Brand{
    font-size: 30px;
    text-decoration: none;
    color: var(--textColor);
}
#logobar .brand{
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    text-align: center;
}
/* Menu */
#MenuBar{
    transition: none;
    justify-content: flex-end;
    z-index: 1;
    min-height: 100px;
    align-items: center;
}

#Menu{
    margin: auto;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;  
}

 #Menu li{
    font-weight: 500;
    font-size: 20px;
    list-style: none;
    padding-left: 15px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 #Menu li a{
    color: var(--textColor);
}
 #Menu a:hover{ 
        background-color: white; 
        text-decoration: none; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100px;
        width: 100px;
          
}
#Iconbar{
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    text-align: center;
}
#icon  {
    font-size: 25px;
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    text-align: center;
}
#icon .fa{
    color:black;
    font-size: 22.4px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background: white;
    margin: 0 4.8px;
    border-radius: 10px; 
    
}
#icon a{
    text-decoration: none;
    margin:0;
    padding: 8px 0;
}

/* banner */
#banner{
    background-image: url(../image/background1.jpg);
    background-size:100%;
    position: relative;
    height: 500px;
    width: 100%;
    padding-top: 140px;
    padding-bottom: 160px;
}
#banner:before{
    background: rgba(0,0,0,0.8);
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 500px;
   top:0;
   bottom: 0; 
} 
#soft {
    padding-bottom: 16px;
}
 #soft span{
    font-size: 17.6px;
    font-weight: bold; 
    color:  #ffffff;
    line-height: 1.5;
}
 #soft h2{
    font-size: 60px;
    font-weight: bold;
    color: #ffffff;
    line-height: 1.5;
}
 #soft p{
    font-size: 20px;
    color: #bbbbbb;
    font-weight: 100;
    line-height: 1.5;  
}
#soft a{
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    padding: 0px 20px;
    border: 1px solid black;
    color: var(--textColor);
    text-align: center;
    line-height: 1.5;
    margin-bottom: 5px;
}

#soft .btn{
    color: #bbb;
    margin-left: -9.6px;
    margin-right: -9.6px;
    border-width: 2px;
    margin-top: 20px;
}
#soft .btn-pink{
    padding: 1rem 2.6rem;
    border-radius: 4px;
    color: #1b2026 ;
    background-color: #f7d9c4 ;
}
 #soft .btn-learn{
    padding: 1rem 2.6rem;
    border-radius: 4px;
    color: #eeefee;
    border-color: #bbbbbb;
}
.btn-pink,.btn-learn{
    font-weight: 600;
    letter-spacing: 0px;
    transition: all 0.3s ease-in-out;
}
#soft a:hover.btn-pink {
    background-color: #eeefee;
}


/* Feature */
.solution{
    padding-top: 96px;
    padding-bottom: 16px;
    text-align: left; 
      
}
#sol img{
    border-radius: 10px;
    width: 90%;
}

#Features span{
        font-weight: bold;
}
#Features h2{
    font-size: 60.8px;
}
#Features p{
    font-size: 17.8px;
    color: #777777;
    margin-top:32px;
}
#Features .btn{
        border: 1px solid #f6d4c5; 
        background: #f6d4c5;
        margin-left: -9.6px;
        margin-right: -9.6px;
        padding: 1rem 2.6rem;
        border-radius: 4px;
        font-weight: 600;
        letter-spacing: 0px;
        transition: all 0.3s ease-in-out;
}
#Features a{
    color: black;
    text-decoration: none;
}
#Features .btn:hover{
   background:  #ffffff;
   border-color: #ffffff;
}
#Features.icon-wrap{
    background: #ffffff;
    border-radius: 10px;
    margin-right: 1.5rem;
}
.icon-wrap .fa{
    color:pink;
    font-size: 40px; 
    background: #ffffff;
    border-radius: 10px;
    display:flex;
    margin-right: 1.5rem;
    width: 150px;
    padding: 1.8rem 2.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon-wrap #type{
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    margin-top: 20px;
} 
 /*card  */
 #Download{
    padding-top: 112px;
    padding-bottom: 96px;
    background-color: #efefef;
    
 }
 #Card{
    background: #ffffff;
    margin-top: 16px;
    border-radius: 10px;
    display: flex;
 }
 #App{
     text-align: left;
     padding: 48px 48px;
     position: relative;    
}
#App h2{
      font-weight: 500;
      font-size: 17px;
      color: #777777;
}
#App h3{
        font-weight: 800;
        font-size: 60.8px;
}
#Mobile{
       text-align: right;
       margin-left: -66px;
}
#Mobile img{
    width: 80%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transform: scale(1.2);
    transform-origin: bottom;
}

/* Goal */
.artical{
    background: #fff;
    padding-top: 80px;
    padding-bottom: 80px;
}

#Goal h2{
    font-size: 25.6px;
}
#Goal p{
    font-size: 18px;
    color: #777777;
    font-weight: 400;
}
#Goal ul{
    list-style: none;
    font-size: 25px;
    font-weight: 400;
    color: #777777;
    padding-left: 20px;
}
#Goal ul li{
       display: inline-block;
       position: relative;
       padding: 10px 20px;
       margin-bottom: 32px;
}

/* Feature */
.CoreFeat{
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: #efefef;
}

#Function h2{
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
 }
#servicebox2{
    position: relative;
    border-radius: 10px;
    height: fit-content;
    display: flex;
    overflow: hidden;
    flex-flow: column nowrap;
    box-shadow: 0px 16px 32px 0px #0000000a;
}

#servicebox2 img{
    position: relative;
    width: 100%;
    height: 225px;
    object-fit: cover;
}
.sb1-content{
    background: #ffffff;
    transition: all 0.3s;
    border-top: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 32px 40px;  
}
.sb1-content span{
    font-weight: 400;
}
.sb1-content h4{
         font-weight: 800;
}
.sb1-content .icon{
    position: absolute;
    bottom: 85px;
    font-size: 22.4px;
    right: 32px;
    padding: 19.2px;
    box-shadow: 0px 16px 32px 0px #0000000a;
    background: #ffffff;
    border-radius: 10px;
    color: #1b2026;
}
.sb1-content .icon .fa{
           font-size: larger;
}  

/* Digital */
.digital{
    background: black;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 128px;
    padding-bottom: 128px;

}

#Career{
    display: flex;
    padding: 64px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}
#Join span{
       font-weight: 600;
}

#Join h6{
    color: var(--textColor);
    font-size: 50px;
    font-weight: 800;
}

#System {
    background: #fff;
    border: 1px solid #efefef;
    border-radius: 10px;
    display: flex;
    padding: 16px 16px;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    margin: 20px;
}

#System .icon{
    color: #777777;
    display: flex;
    font-size: 24px;
    height: 30px;
    align-items: center;
    margin-top: 2px;
    padding: 0 16px;
}

#System .icon p{
    color: #777777;
    padding-top: 3px;
    margin: 15px;
    font-size: 16px;
}

/* Team */
.Customer{
    padding-top: 80px;
    padding-bottom: 80px;
    background: #efefef;
    align-items: center;
    overflow-x: hidden;
}
#Team{
    text-align: center;    
    line-height: 1.5;
}
#Expert p{
    font-size: 17.6px;
    font-weight: 400;
    color: #777777;
    margin-bottom: 5px;
}
#Expert h2{
      font-size: 60px;
      font-weight: 600;
      margin: auto;
      margin-bottom: 8px;
      text-align: center;
}
.card-wrap{
    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 10px;
    height: 350px; 
    position: relative;
    padding-top: 48px;
}

 #Image img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 45px;
    margin-left: 45px;
    border-radius: 50%;
  }
#Position{
    padding: 25px;
    text-align: center;
}
#Position h5{
    font-size: 25.6px;
    line-height: 1.5;
}
#social{
    color: #777777;
    text-align: center;
    padding-top: 32px;
    font-size: 20px;
    font-weight: 500;
}
#social .social-iteam {
    display: inline-block;
    text-align: center;
    border-top-right-radius: 30%;
    border-top-left-radius: 30%;
    margin-right: 9.6px;
    padding: 12.8px;
    background: #efefef;
    transition: all 0.3s;
    color: #121212;
}

#social .social-iteam:hover{
    background: #f7d9c4;
    color: white ;
}

/* Brand-image */
.client-section{
    padding-top: 0px;
    padding-bottom: 96px;
    background-color: #efefef;
    overflow-x: hidden;
}

#client{
    margin-bottom: 60px;
}
.Brand-image{
    display: block;  
}
.Brand-image img{
     border-radius: 16px;
     height: 500px;
     object-fit: cover;
     width: 100%;
}
.service{
    background: #fff;
    position: absolute;
    display: flex;
    padding: 16px 32px;
    width: 90%;
    margin-left: 30px;
    margin-top: -48px;
    border-radius: 16px;
    justify-content: space-between;
    z-index: 4;  
}

.service #Web h3{
    font-size: 20px;
    font-weight: bold;
}
.service #btn{
    margin: 10px 10px;
}
.service #btn a{
    background: #232323;
    border: 1px solid #232323;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    border-width: 5px;
    padding: 16px 20px;
    margin: 10px 10px;
    transition: all 0.3s ease-in-out;
}
/* Testimonial */
#testimonials{
    padding-top:80px;
    padding-bottom: 112px;
    background: #31363b;
    overflow: hidden;
}
.Section-hd{
    text-align:left;
    margin-bottom: 48px;  
}
.Section-hd span{
    color: #bbbbbb;
    font-size: 17.6px;
    text-align: left;
    margin-bottom: 8px;
    font-weight: bold;
}
.Section-hd h3{
         color: #ffffff;
         font-size: 60.8px;
         margin-bottom: 8px;
}
.testimonial {
    background: #ffffff;
    border-radius: 10px;
    padding: 40px;
}

.testimonial p{
        color: #777777;
        font-size: 25px;
        text-align: left;
        font-weight: 400;
}
.testimonial i.fa-quote-right{
    position: absolute;
    right: 0px;
    color: #777777;
    font-size: 56px;
    top: -56px;
    
}
.testimonial img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 16px;
    border-radius: 50%;
}
.testimonial #right{
    display: flex;
    position: relative;
    align-items: center;
}
.testimonial .post{
         line-break: 1.5;
}
.testimonial h5{
    color: #31363b;
    font-weight: bold;
    display: block;
    font-size: 25.6px;
    text-align: left;
      
}
.testimonial h6{
    color: #777777;
    font-weight: 400;
    font-size: 17.6px;
    text-align: left;
}
/* Vediobg */
#VIDEOS{
    padding-top: 80px;
    padding-bottom: 112px;
    background: #dce8eb;
    overflow: hidden;
    
}
#Action{
    text-align: center;
    margin-bottom: 50px;
}
#Action h4{
    font-size: 50px
}
#videobg{
    background: url(../image/background4.jpg);
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:10px ;
    width: 100%;
    background-size: cover;
    background-position: center; 
}

#videobg a{
    position: relative;
    margin: auto;
    width: 120px;
    height: 120px;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;  
}
#play a.fa-play{
    font-size:22.4px;
    transition: all 0.2s;
    z-index:2;
    padding-left: 4px;
    position: relative;
    color: #121212;
    text-decoration: none;
}
/* Form */
.Tabel{
    padding-top: 90px;
    padding-bottom: 120px;
    background-color: #ffffff;   
}
.form{
    background: #dce8eb;
    padding: 96px 64px;
    border-radius: 10px;
    width: 80%;
}
.form #Projects{
    text-align: left;
}
.form #Projects span{
         color: #777777;
         font-size: 17.6px;
         line-height: 1.5;
         font-weight: 400;
}
.form #Projects h2{
         font-size: 49.6px;
         margin-bottom: 60px;
         font-weight: 500;
}

.form .form-row{
    font-size: large;
    text-align: left;
    border-radius: 10px;
}
.form .form-group{
    font-size: large;
    text-align: left;
    border-radius: 10px;
    margin-top: 10px;
    height: 180px;
}
.from .from-control{
height: 180px;
min-height: 48px;
}
.button .btn{
    background-color: black;
    border-color: black;
    text-align: right;
    display: inline;
    padding: 12px 28px;
    min-height: 48px;
    border-radius: 2px;
}
/* Copyright */
.Footer{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #14191e;
    overflow: hidden;
}
.Footer #copyright{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: start;
}
.Footer #copyright span{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    font-family: 'DM Sans', sans-serif ;
}
/* Footer */
@media (min-width: 991px) {
    .container-fulid{
        flex-wrap: nowrap;
    }
    .Header{
        flex-shrink: initial;
        flex-basis: auto;
        word-break: break-word;
        padding-right: 32px;
     }
     #Iconbar{
        padding-left: 0;
        padding-top: 8px;
        padding-bottom: 8px;
    }

}

 @media (min-width:768px){
     .container-fulid{
         padding-left: 32px;
         padding-right: 32px;
     }
   

 }   












 






