:root{
    --baseColor : #eeefee;
    --textColor: #232323;
    }
*{
    box-sizing: border-box;
}
  
.container{
    border: 1px solid black;
}

body{
    font-family: DM Sans;
    color: #232323;
    background: #eeefee;
    
}

/* logobar */
#logobar{
    background-color: var(--baseColor);
    padding: 10px 0;

}
 #logobar img{
    height: 1.5cm;
}

#logobar .Brand{
    font-size: 30px;
    text-decoration: none;
    color: var(--textColor);
    
}
#Menu{
    background: var(--baseColor);
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Menu ul{
    list-style: none;
}
#Menu ul li{
    display: inline-block;
    margin: 0 20px;
    padding: 20px 20px;
    font-weight: bold;
    font-size: 18px;
    position: relative;
    align-items: center;
}
#Menu ul li a{
    color: var(--textColor);
}
#Menu ul li a:hover{
        background-color: white; 
        border: 5px solid white;                   
}
#icon {
    font-size: 25px;
    display: flex;
    text-align: center;
}
#icon a{
    
}
/* banner */
#banner{
    background-image: ;
}


 






